input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom {
  width: 50px!important;
  display: inline-block!important;
  margin-left: 5px;
};

